@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>

    </title>
</head>

<body>
    <h2>Randevular</h2>
    <table>
        <thead>
            <tr>
                <td>Hasta Adı</td>
                <td>Tarih</td>
            </tr>
        </thead>

        <tbody>
            @{
                for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <td>aaaa</td>
                        <td>bbbb</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
