@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>

<body>
    <div class="container">
        <h2>Girdiğiniz TC numarası ile kayıtlı hastamız vardır.</h2>
        <br />
        <button>
            <a asp-controller="Hasta" asp-action="KayitOl">Kayıt olma menüsüne geri dönmek için butona basın</a>
        </button>
        
    </div>
</body>
</html>